{% load static %}
  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="{% url 'home' %}" class="logo d-flex align-items-center">
        {% if general_info and general_info.company_logo %}
            <img src="{{ general_info.company_logo.url }}" alt="{{ general_info.company_name }}">
         {% else %}
            <img src="{% static 'assets/img/logo.svg' %}" alt="Default Logo">
        {% endif %}

      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'home' %}">HOME</a></li>
          <li><a href="{% url 'products' %}">PRODUCTS</a></li>
          <li><a href="{% url 'home' %}#services">SERVICES</a></li>
          <li><a href="{% url 'home' %}#testimonials">TESTIMONIALS</a></li>
          <li><a href="{% url 'home' %}#faq">FAQ</a></li>
          <li><a href="{% url 'home' %}#contact">CONTACT</a></li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->   